In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
os.listdir('data')

['Talk_2020.4.13 18_43-1.txt', 'Talk_2020.4.13 18_43-2.txt']

In [236]:
df = pd.DataFrame(columns = ['date','comments'])
f = open('./data/Talk_2020.4.13 18_43-1.txt', 'r', encoding='utf-8')
lines = f.readlines()
for line in lines:
    try:
        if line.startswith('2019.') or line.startswith('2020.'):
            tmp = pd.DataFrame(data=[line.split(',',1)],columns = ['date','comments'])
            df = pd.concat([df,tmp],axis=0)
    except:
        continue
df = df.reset_index(drop=True)

In [237]:
df = df.reset_index(drop=True)

In [239]:
# 이상한 행 하나 찾아서 제거
df.drop(index=[4451],inplace=True)

In [240]:
# index를 초기화 index가 순서대로 되어있지 않으면 dataframe은 자꾸 이상하게 한다.
df.reset_index(drop=True, inplace=True)

In [241]:
df['name'] = 'a'
df['text'] = 'b'
for i,j in enumerate(df['comments']):
    a = j.split(' : ',1)
    df['name'][i] = a[0]
    df['text'][i] = a[1]

In [242]:
df.drop(['comments'],axis=1,inplace=True)

In [243]:
df['text']=df['text'].apply(lambda x : x[:-1])

In [259]:
df['name']=df['name'].apply(lambda x: x.strip())

In [262]:
df2 = pd.DataFrame(columns = ['date','comments'])
f = open('./data/Talk_2020.4.13 18_43-2.txt', 'r', encoding='utf-8')
lines = f.readlines()
for line in lines:
    try:
        if line.startswith('2019.') or line.startswith('2020.'):
            tmp = pd.DataFrame(data=[line.split(',',1)],columns = ['date','comments'])
            df2 = pd.concat([df2,tmp],axis=0)
    except:
        continue

In [264]:
df2 = df2.reset_index(drop=True)

In [265]:
df2['name'] = 'a'
df2['text'] = 'b'
for i,j in enumerate(df2['comments']):
    b = j.split(' : ',1)
    df2['name'][i] = b[0]
    df2['text'][i] = b[1]

In [267]:
df2.drop(['comments'],axis=1,inplace=True)
df2['text']=df2['text'].apply(lambda x : x[:-1])

In [275]:
df2['name']=df2['name'].apply(lambda x: x.strip())

In [276]:
final = pd.concat([df,df2],axis=0)

In [277]:
final = final.reset_index(drop=True)

In [279]:
final

,date,name,text
0,2019. 11. 30. 오후 3:01,philosk,VScode에서 run 단축키가 무엇인가요?
1,2019. 11. 30. 오후 5:16,a,안녕하십니까
2,2019. 11. 30. 오후 5:16,a,혹시 NLP관련해서 읽어보기 좋은 논문이나 글같은거 링크 공유해주시면 감사하겠습니다!!
3,2019. 11. 30. 오후 5:27,재택연구 중 초보의 미학쿤,http://web.stanford.edu/class/cs224n/
4,2019. 11. 30. 오후 5:28,재택연구 중 초보의 미학쿤,Nlp도 업으로 하는거랑 응용하는거랑은 좀 거리가 있다고 봐서 전 응용위주라
...,...,...,...
9710,2020. 4. 13. 오후 6:40,pythonista,요거는 확인 했나요
9711,2020. 4. 13. 오후 6:40,pythonista,그냥 list 라고 했을 때 변수가 나왓나요
9712,2020. 4. 13. 오후 6:43,ARIMA,아....저~위에....뱐수 선언을..해줬었네요..
9713,2020. 4. 13. 오후 6:43,ARIMA,죄송함니다...(머쓱...)
9714,2020. 4. 13. 오후 6:43,ARIMA,이모티콘

In [280]:
final.name.value_counts()

재택연구 중 초보의 미학쿤    3788
귀요미                408
헤헿                 365
분석가                240
분석scv              228
                  ...
Data로가자              1
Kirinny              1
강동협[Tike]            1
Fighting             1
janice               1
Name: name, Length: 206, dtype: int64

In [283]:
final.to_csv('./data/katalkfinal.csv',index=False)